<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Pedidos</title>
    <title>Menu de Almoço</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style_pedido.css">
  </head>
  <body>
    <main>
      <div id="page-content">
        <nav>
          <div class="menu-item">
            <span>Pedidos</span>
          </div>
        </nav>
        <section class="delivery-detail">
          <div class="delivery-d-flex">
            <div class="landing-container">
              <img src="./images/almoco.png" alt="boy-img" />
            </div>
            <div class="delivery-text">
              <div>
                <h3><%= empresa.nomeEmpresa %> 🎉</h3>
              </div>
              <div>📞 <%= empresa.contato %></div>
            </div>
            <div class="learn-more">
              <p>Saiba mais</p>
              <img src="./images/icons/right-arrow.png" alt="" />
            </div>
          </div>
        </section>
        <section class="resto-menu-section">
          <div class="heading-flex">
            <div class="resto-heading">
              <h1>Realize seu pedido</h1>
            </div>
          </div>
          <div class="food-all-wrapper">
            <div class="food-menu-grid">
              <% categorias.sort(function (a, b) { return a.order - b.order; });
              categorias.forEach(function(categoria){ %>
              <div class="food-menu">
                <a href="#categoria<%= categoria.id %>"
                  ><%= categoria.titulo %></a
                >
              </div>
              <% }); %>
            </div>
          </div>
        </section>
        <div class="search-bar">
          <img
            class="search-img"
            src="./images/icons/search-icon.png"
            alt="search-img"
          />
          <input
            type="search"
            placeholder="Procurar"
            name="search"
            id="buscar"
            onkeyup="buscar()"
          />
        </div>
        <section>
          <% categorias.forEach((categoria) =>{ %>
          <h3 class="category" id="categoria<%= categoria.id %>">
            <%= categoria.titulo %>
          </h3>
          <div class="special-menu-grid">
            <% produtos.filter(function(produto,index){ if(produto.categoria ==
            categoria.id) { %>

            <div class="special-item" data-categoria="<%= produto.categoria %>">
              <div class="thumbnil">
                <!-- <img
                  src="https://source.unsplash.com/270x160/?food/<%= index %>"
                  alt=""
                /> -->
                <img src="./images/produtos/<%= produto.imagem %>" alt="" />
                <div class="price">R$ <%= produto.preco.toFixed(2) %></div>
              </div>
              <p class="name-product"><%= produto.nome %></p>
              <div class="special-item-desc">
                <img src="./images/icons/star.png" alt="" />
                <p>4.7</p>
                <div class="grey-text">
                  <p><%= produto.descricao %></p>
                </div>
              </div>
              <button
                onclick="openModal(this)"
                id="<%= produto.id %>"
                data-name="<%= produto.nome %>"
                data-price="<%= produto.preco.toFixed(2) %>"
                class="button-select"
              >
                Escolher
              </button>
              <div class="overlay">
                <div class="modal">
                  <header>
                    <button class="return" onclick="closeModal(this)"><img src="./images/icons/seta-esquerda.png"></button>
                    <h2><%= produto.nome %></h2>
                  </header>
                  <div class="acompanhamento">
                  <% produto.complementos.forEach((complemento) =>{ %>
                    <div class="group-acompanhamento" data-min="<%= complemento.quantidade_min %>" data-max="<%= complemento.quantidade_max %>" data-count="0" data-obrigatorio="<%= complemento.obrigatorio %>" >
                      <div class="group-acompanhamento-header">
                        <div>
                          <h2><%= complemento.titulocomplemento %></h2>
                          <p>Escolha até <%= complemento.quantidade_max %> Opções</p>
                        </div>obrigatorio
                        <span><%= complemento.obrigatorio ? 'OBRIGATÓRIO': 'OPICIONAL'; %></span>
                      </div>
                      <% complemento.itens.forEach((item) =>{ %>
                      <div class="item-acompanhamento">
                        <div>
                          <h3 class="nome-item"><%= item.nome %> <small>R$ <%= item.valor.toFixed(2) %></small></h3>
                          <p><%= item.descricao %></p>
                        </div>
                        <div class="quantidade-group">
                          <button type="button" id="menos" onclick="less(this)">-</button>
                          <input type="text" name="num" id="num" data-name="<%= item.nome %>" data-iditem="<%= item.id %>" data-min="<%= item.quantidade_min %>" data-max="<%= item.quantidade_max %>" value="0"  data-price="<%= item.valor.toFixed(2) %>"/>
                          <button type="button" id="mais" onclick="more(this)">+</button>
                        </div>
                      </div>
                      <% }) %>
                    </div>
                  <% }) %>
                  </div>
                  <footer class="footer-modal">
                    <div class="group-footer-finish">
                      <div class="quantidade-group">
                        <button type="button" id="menos" onclick="lessProduct(this)">-</button>
                        <input type="text" name="num" id="num" class="qtd-product" data-min="1" data-max="<%= produto.quantidade_max %>" value="1"/>
                        <button type="button" id="mais" onclick="moreProduct(this)">+</button>
                      </div>
                      <button onclick="addPedido(this)">
                        Adicionar: R$ <span data-initialprice="<%= produto.preco.toFixed(2) %>" data-priceunid="<%= produto.preco.toFixed(2) %>" id="price"><%= produto.preco.toFixed(2) %></span>
                      </button>
                    </div>
                    <textarea
                      name="observacoes"
                      id="observacoes"
                      cols="30"
                      rows="10"
                      placeholder="Observações"
                    >
                    </textarea>
                  </footer>
                </div>
              </div>
            </div>

            <% } }); %>
          </div>
          <% }); %>
        </section>
      </div>
      
      <!--page-content-->
      <section class="finish-peidido">
        <div class="right-section">
          <div class="side-top">
            <div class="top-menu-right">
              <img src="./images/icons/shopping-cart.png" alt="user-img" />
              <span id="countItensPedido">0</span>
            </div>
            <div class="my-order-wrapper">
              <h2>Meu Pedido 😎</h2>
            </div>
            <div class="blue-box">
              <div class="line">
                <input type="text" name="nome" id="field_nome" onchange="formularioCliente(this)" value="" required>
                <label for="field_nome">Nome</label>
                <img src="./images/icons/pencil.png" alt="" style="width: 16px" />
              </div>
              <div class="line">
                <input type="text" name="whatsapp" id="field_whatsapp" onchange="formularioCliente(this)" value="" required>
                <label for="field_whatsapp">Whatsapp</label>
                <img src="./images/icons/pencil.png" alt="" style="width: 16px" />
              </div>
              <div class="line">
                <select name="pagamento" onchange="formularioEntrega(this)" id="">
                  <option value="null" >Forma de pagamento</option>
                  <% pagamento.forEach(function(formaPagamento){ %>
                    <option value="<%= formaPagamento %>" ><%= formaPagamento %></option>
                  <% }); %>
                </select>
              </div>
              <div class="line trocoGroup">
                <input type="text" name="troco" onchange="trocoAtual(this)" id="field_troco" value="" required>
                <label for="field_troco">Troco pra quanto?</label>
                <img src="./images/icons/pencil.png" alt="" style="width: 16px" />
              </div>
              <div class="lines">
                <input type="radio" name="tipoEntrega" id="retirada" checked>
                <label for="retirada" onclick="hiddeDelivery()">Retirada</label>
                <input type="radio" name="tipoEntrega" id="delivery">
                <label for="delivery" onclick="showDelivery()">Delivery</label>
              </div>
              <div id="formDelivery">
                <div class="line">
                  <select name="bairro" onchange="formularioEntrega(this)" id="bairroEntrega">
                    <% bairros.forEach(function(bairro){ %>
                      <option value="null" data-taxa="0">selecione um bairro</option>
                      <option value="<%= bairro.nome %>" data-taxa="<%= bairro.taxa %>"><%= bairro.nome %></option>
                      <% }); %>
                    </select>
                </div>
                <div class="line">
                  <input type="text" name="endereco" onchange="formularioEntrega(this)" id="field_endereco" value="" required>
                  <label for="field_endereco">Endereço</label>
                  <img
                    src="./images/icons/pencil.png"
                    alt=""
                    style="width: 16px"
                  />
                </div>
                <div class="line">
                  <input type="text" name="complemento" onchange="formularioEntrega(this)" id="field_complemento" value="" required>
                  <label for="field_complemento">Complemento</label>
                  <img
                    src="./images/icons/pencil.png"
                    alt=""
                    style="width: 16px"
                  />
                </div>
                <div class="line">
                  <input type="text" name="referencia" onchange="formularioEntrega(this)" id="field_referencia" value="" required>
                  <label for="field_referencia">Ponto de referência</label>
                  <img
                    src="./images/icons/pencil.png"
                    alt=""
                    style="width: 16px"
                  />
                </div>
              </div>
            </div>
            <div class="billing-section"></div>
            <div class="total-amt">
              <p>Total:</p>
              <h4>R$ <span id="valorTotal">0.00</span></h4>
            </div>
          </div>

          <div class="horizonal-line"></div>
          <div class="checkout-section">
            <div class="ch">
              <p>Finalizar</p>
              <img src="./images/icons/right-arrow.png" alt="" />
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Socket -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Scroll categoria -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>

      //this is where we apply opacity to the arrow
      $(window).scroll(function () {
        //get scroll position
        var topWindow = $(window).scrollTop();
        //multipl by 1.5 so the arrow will become transparent half-way up the page
        var topWindow = topWindow * 1.5;

        //get height of window
        var windowHeight = $(window).height();

        //set position as percentage of how far the user has scrolled
        var position = topWindow / windowHeight;
        //invert the percentage
        position = 1 - position;

        //define arrow opacity as based on how far up the page the user has scrolled
        //no scrolling = 1, half-way up the page = 0
        $(".arrow-wrap").css("opacity", position);
      });

      //Code stolen from css-tricks for smooth scrolling:
      $(function () {
        $("a[href*=#]:not([href=#])").click(function () {
          if (
            location.pathname.replace(/^\//, "") ==
              this.pathname.replace(/^\//, "") &&
            location.hostname == this.hostname
          ) {
            var target = $(this.hash);
            target = target.length
              ? target
              : $("[name=" + this.hash.slice(1) + "]");
            if (target.length) {
              $("html,body").animate(
                {
                  scrollTop: target.offset().top,
                },
                1000
              );
              return false;
            }
          }
        });
      });
    </script>
    <!-- Filtro -->
    <script>
      function buscar() {
        var filtro = $("#buscar").val().toUpperCase();

        $(".name-product").each(function () {
          var textoEnTd = $(this).text().toUpperCase();
          if (textoEnTd.indexOf(filtro) >= 0) {
            $(this).addClass("existe");
          } else {
            $(this).removeClass("existe");
          }
        });

        $(".special-item").each(function () {
          if ($(this).children(".existe").length > 0) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      }
    </script>
    <script>

      let item;

      const newProduct = (id, nome, price) => ({
        id: id,
        nome: nome,
        quantidade: 1,
        valor: 0.00,
        observacoes: "",
        complementos: [],
      });

      const newComplemento = (id, nome) => ({
        id: id,
        nome: nome,
        quantidade: 1,
      })

      const hasComplemento = (itemId) => {
        return item.complementos.findIndex(item => item.id == itemId)
      }

      const socket = io();

      // Manipulador de evento para receber o pedido confirmado
      socket.on("pedidoRecebido", (mensagem) => {
        console.log("Pedido recebido:", mensagem);
      });


      function openModal(e) {
        console.log(e);

        const modal = e.nextElementSibling

        modal.classList.add("active");

        buttonPrice =  modal.querySelector('.group-footer-finish #price');

        buttonPrice.dataset.priceunid = e.dataset.price;
        buttonPrice.innerHTML = e.dataset.price;
        
        item = newProduct(parseInt(e.id), e.dataset.name, parseFloat(e.dataset.price));

        modal.querySelectorAll(".group-acompanhamento").forEach(gpa => gpa.dataset.count = 0)

        const inputs = modal.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
          inputs[i].value = 0;
          console.log(inputs[i], inputs.length-1)
          if(i == (inputs.length-1)){
            inputs[i].value = 1;
          }
        }

        const mais = modal.querySelectorAll('.item-acompanhamento #mais');
        const menos = modal.querySelectorAll('.item-acompanhamento #menos');

        menos.forEach(m => m.style.visibility = "hidden");
        mais.forEach(m => m.style.visibility = "visible");

      }

      function closeModal(e) {
        e.parentNode.parentNode.parentNode.classList.remove("active");
      }

      function addPedido(e) {
        required = false;
        const modal = e.parentNode.parentNode.parentNode.parentNode;
        const requiredItems = modal.querySelectorAll('[data-obrigatorio=true]');

        requiredItems.forEach(itemRequired => {
          
          if(parseInt(itemRequired.dataset.count) < parseInt(itemRequired.dataset.min)){
            required = true;
            return
          }
        })

        
        if(required){
          alert(`Item Obrigatório precisa ser selecionado`)
          return
        }

        pedido.valorTotal += item.valor;

        pedido.produtos.push(item)

        modal.classList.remove("active");

        refreshPedidoList();
        
      }

      function refreshPedidoList() {
        const listPedidos = document.querySelector(".billing-section");

        const valorTotal = document.getElementById("valorTotal");
        valorTotal.innerHTML = (pedido.entrega.valorEntrega + pedido.valorTotal).toFixed(2);

        const countItensPedidos = document.getElementById("countItensPedido");
        countItensPedidos.innerHTML = pedido.produtos.length;

        let itensPedido = pedido.produtos.map(produto => {

          const complementos = produto.complementos.map(item => `
            <div class="group-billing-item">
                <div>
                  <h3>Adic.</h3>
                  <h3>${item.quantidade}</h3>
                  <p>X</p>
                  <h3>${item.nome}</h3>
                </div>
              </div>
            `).join("");

          const item = `
            <div class="billing-item">
              <div class="group-billing-item">
                <h3>${produto.quantidade}</h3>
                <p>X</p>

                <h3 class="dish-name">${produto.nome}</h3>
                <span>${produto.valor.toFixed(2)}</span>
              </div>
              ${complementos}
            </div>`;
            return item;
        }).join("")
        
        let delivery = "";
        console.log(pedido.entrega.valorEntrega);
        if(pedido.entrega.valorEntrega > 0){
          
          delivery = `
            <div class="billing-item">
              <div class="group-billing-item">
                <img class="car-img" src="./images/icons/fast-delivery.png" alt="food-img" />
                <h3>1</h3>
                <p>X</p>
                <h3 class="dish-name">Entrega</h3>
                
                <span>${pedido.entrega.valorEntrega.toFixed(2)}</span>
              </div>
            </div>`;
        }
        
        listPedidos.innerHTML = "";
        listPedidos.insertAdjacentHTML("beforeend", itensPedido)
        listPedidos.insertAdjacentHTML("beforeend", delivery)
      }

      function trocoAtual(e) {
        pedido.trocopara = parseFloat(e.value);
      }

      function formularioCliente(e) {
        pedido.cliente[e.name] = e.value;
      }

      function formularioEntrega(e) {
        if(e.options[e.selectedIndex].value == "dinheiro"){
          document.querySelector(".trocoGroup").classList.add("active")
        }else if( ["debito", "crédito", "pix"].includes(e.options[e.selectedIndex].value)){
          document.querySelector(".trocoGroup").classList.remove("active")
        }

        pedido.entrega[e.name] = e.value;
        if(e.name == "bairro"){
          pedido.entrega.valorEntrega = parseFloat(e.options[e.selectedIndex].dataset.taxa);
          refreshPedidoList();
        }
      }

      function hiddeDelivery(){
        const formDelivery = document.getElementById("formDelivery");
        formDelivery.style.display = "none";
        pedido.entrega.endereco = "";
        pedido.entrega.bairro = "";
        pedido.entrega.complemento = "";
        pedido.entrega.referencia = "";
        pedido.entrega.valorEntrega = 0;

        bairroEntrega.selectedIndex = 0;
        field_endereco.value="";
        field_complemento.value="";
        field_referencia.value="";
        refreshPedidoList();
      }
      
      function showDelivery(){
        const formDelivery = document.getElementById("formDelivery");
        formDelivery.style.display = "block";
      }

      function finalizarPedido() {
        // e.parentNode.style.display = "none";
        // pedido.push(parseInt(e.id));
        // socket.emit("pedido", pedido);
      }

      const pedido = {
        valorTotal: 0.0,
        trocopara: 0.0,
        formaPagamento: "",
        cliente: {
          nome: "",
          whatsapp: "",
        },
        produtos: [
        ],
        entrega: {
          endereco: "",
          bairro: "",
          complemento: "",
          referencia: "",
          valorEntrega: 0
        },
      };

    
    </script>
    <!-- Menos e Mais -->
    <script>

      function less(e) {
        setValue("menos", e);
      }

      function more(e) {
        setValue("mais", e);
      }

      function lessProduct(e) {
        setValueProduct("menos", e);
      }

      function moreProduct(e) {
        setValueProduct("mais", e);
      }

      function setValueProduct(operacao, element) {
        const buttonAdicionar = element.parentNode.nextElementSibling.querySelector("#price");
        let priceProduct = parseFloat(buttonAdicionar.innerHTML);
        let priceunid = parseFloat(buttonAdicionar.dataset.priceunid)


        let inputItem = element.parentNode.children.num;
        
        let min = parseInt(inputItem.dataset.min);
        let max = parseInt(inputItem.dataset.max);
        let numero = parseInt(inputItem.value);
        
        numero = operacao == "mais" ? numero+1 : numero-1;
        priceProduct = operacao == "mais" ? priceProduct*numero : priceProduct/(numero+1);

        var menos = element.parentNode.children.menos;
        var mais = element.parentNode.children.mais;

        (numero <= min) ? menos.style.visibility = "hidden" : menos.style.visibility = "visible";
        (numero >= max) ? mais.style.visibility = "hidden" : mais.style.visibility = "visible";
        
        item.quantidade = numero;
        

        inputItem.value = numero;
        buttonAdicionar.innerHTML = (numero * buttonAdicionar.dataset.priceunid).toFixed(2);
        item.valor = numero * buttonAdicionar.dataset.priceunid;
      }

      function setValue(operacao, element) {
        const qtdProducts = element.parentNode.parentNode.parentNode.parentNode.nextElementSibling.querySelector(".qtd-product");

        const buttonAdicionar = element.parentNode.parentNode.parentNode.parentNode.nextElementSibling.querySelector("#price");
        let priceunid = parseFloat(buttonAdicionar.dataset.priceunid)
        let priceProduct = priceunid;
        
        let groupItens = element.parentNode.parentNode.parentNode;
        let countItems = parseInt(groupItens.dataset.count);
        let maxItems = parseInt(groupItens.dataset.max);

        maisTodos = groupItens.querySelectorAll('.item-acompanhamento #mais')

        let inputItem = element.parentNode.children.num;
        let iditem = parseInt(inputItem.dataset.iditem);
        let nameItem = inputItem.dataset.name;
        let min = parseInt(inputItem.dataset.min);
        let max = parseInt(inputItem.dataset.max);
        let price = parseFloat(inputItem.dataset.price);
        let numero = parseInt(inputItem.value);
        
        numero = operacao == "mais" ? numero+1 : numero-1;
        countItems = operacao == "mais" ? countItems+1 : countItems-1;
        priceProduct = operacao == "mais" ? priceProduct+price : priceProduct-price;

        var menos = element.parentNode.children.menos;
        var mais = element.parentNode.children.mais;

        (numero <= min) ? menos.style.visibility = "hidden" : menos.style.visibility = "visible";
        (numero >= max) ? mais.style.visibility = "hidden" : mais.style.visibility = "visible";
        
        if (countItems >= maxItems){
          maisTodos.forEach(m => m.style.visibility = "hidden");
        }else{
          maisTodos.forEach(m => m.style.visibility = "visible");
        }

        console.log("Complemento existe?",hasComplemento(iditem))

        const itemIndex = hasComplemento(iditem);

        if(hasComplemento(iditem) == -1){
          item.complementos.push(newComplemento(iditem, nameItem))
        }else{
          if(numero == 0){
            item.complementos.splice(itemIndex, 1);
          }else{
            item.complementos[itemIndex].quantidade = numero;
          }
        }

        inputItem.value = numero;
        groupItens.dataset.count = countItems;
        buttonAdicionar.dataset.priceunid = priceProduct.toFixed(2);
        buttonAdicionar.innerHTML = (qtdProducts.value * buttonAdicionar.dataset.priceunid).toFixed(2);
        item.valor = qtdProducts.value * buttonAdicionar.dataset.priceunid
      }

    </script>
  </body>
</html>
