<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Pedidos</title>
    <title>Menu de Almoço</title>
    <style>

    body {
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: left;
    }
      table {
        border-collapse: collapse;
      }
      th {
        text-align: inherit;
      }
      .container{
        max-width: 100%;
        width: 100%;
      }
      .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
      }
      .table{
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
      }
      .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
      }
      .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
      }
      .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
      }
      .table tbody tr{
        cursor: pointer;
      }
      .table tbody tr:hover{
        background-color: #dee2e6;
      }
      .table button{
        cursor: pointer;
        background-color: #ff5831;
        color: #fff;
        padding: 7px 10px;
        border: none;
        margin: 0 5px;
      }
      .table button.aprove{
        background-color: #10c461;
      }
    </style>
  </head>
  <body>
    <h1>Painel de Pedidos</h1>

    <!-- Container -->
    <div class="container">
      <!-- Main Content-->
      <div class="masthead">
        <input type="text" id="buscar" onkeyup="buscar()" placeholder="Buscar por pedido / nome / telefone" title="Procurar por nome" />

        <div class="table-responsive">
          <table class="table" id="tabla" data-sort="table">
            <thead>
              <tr>
                <th>Cod. Pedido</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>F. Pagamento</th>
                <th>Total</th>
                <th>Troco para</th>
                <th>Troco</th>
                <th>Status</th>
                <th>Imprimir</th>
                <th>Aprovação do Pedido</th>
              </tr>
            </thead>
            <tbody>
              <% novosPedidos.forEach(pedido =>{ %>
                <tr id="pedido<%= pedido.id %>">
                  <td>#<%= pedido.id %></td>
                  <td><%= pedido.cliente.nome %></td>
                  <td><%= pedido.cliente.whatsapp %></td>
                  <td><%= pedido.formaPagamento %></td>
                  <td>R$ <%= pedido.valorTotal.toFixed(2) %></td>
                  <td>R$ <%= pedido.trocopara.toFixed(2) %></td>
                  <td>R$ <%= pedido.trocopara-pedido.valorTotal.toFixed(2) %></td>
                  <td><%= pedido.status %></td>
                  <td><img src="/images/icons/impressora.png" alt="" /></td>
                  <td>
                    <button class="aprove" onclick="aprove('<%= pedido.id %>')">Aprovar</button>
                    <button onclick="desaprove('<%= pedido.id %>')">Desaprovar</button>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /container -->

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      // Manipulador de evento para receber o pedido confirmado
      socket.on("pedidoRecebido", (pedidos) => {
        mostrarPedidos(pedidos)
      });

      function aprove(id){
        socket.emit("preparar", id);
      }

      function desaprove(id){
        const tr = document.getElementById(`pedido${id}`);
        tr.remove();
        socket.emit("rejeitar", id);
      }
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

      function mostrarPedidos(pedidos){
        const tbody = document.querySelector("#tabla tbody");

        const templateLine = pedidos.map((pedido, index) => {
          
          console.log(pedido)
          
          return `<tr id="pedido${pedido.id}">
            <td>#${pedido.id}</td>
            <td>${pedido.cliente.nome}</td>
            <td>${pedido.cliente.whatsapp}</td>
            <td>${pedido.formaPagamento}</td>
            <td>R$ ${pedido.valorTotal.toFixed(2)}</td>
            <td>R$ ${pedido.trocopara.toFixed(2)}</td>
            <td>R$ ${pedido.trocopara-pedido.valorTotal.toFixed(2)}</td>
            <td>${pedido.status}</td>
            <td><img src="/images/icons/impressora.png" alt="" /></td>
            <td>
              <button class="aprove" onclick="aprove('${pedido.id}')">Aprovar</button>
              <button onclick="desaprove('${pedido.id}')">Desaprovar</button>
            </td>
          </tr>`;
        }).join("");
        tbody.innerHTML = "";
        tbody.insertAdjacentHTML( "beforeend", templateLine );
      }

      function buscar() {
        var filtro = $("#buscar").val().toUpperCase();

        $("#tabla td").each(function () {
          var textoEnTd = $(this).text().toUpperCase();
          if (textoEnTd.indexOf(filtro) >= 0) {
            $(this).addClass("existe");
          } else {
            $(this).removeClass("existe");
          }
        });

        $("#tabla tbody tr").each(function () {
          if ($(this).children(".existe").length > 0) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      }
    </script>
  </body>
</html>
